<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用说明</title>
</head>
<body>
<h1>使用说明</h1>
<p>S1: 进入<a href='https://i.njucm.edu.cn/_s2/student_main/main.psp'>每日打卡的网站</a> ，选择每日健康打卡服务</p>
<p><img src="https://tva1.sinaimg.cn/large/007S8ZIlgy1gewwirif8gj30ty0d5abk.jpg" referrerpolicy="no-referrer" alt="截屏2020-05-18 下午9.00.27"></p>
<p>S2:选择每日打卡（上午），跳转到打卡界面。打开<strong>开发者模式</strong>(又名审查元素)。选择 <strong>网络</strong> （network） 标签。</p>
<p><img src="https://tva1.sinaimg.cn/large/007S8ZIlgy1gewwkmlspnj30wa0bx403.jpg" referrerpolicy="no-referrer" alt="step1"></p>
<p>S3: 填写表单并提交，然后在开发者模式下出现了一连串的网页交互信息，此时选择一个名叫 “dataFormSave?wid=” 的交互信息，然后进行如下图的操作：</p>
<p><img src="https://tva1.sinaimg.cn/large/007S8ZIlgy1gewwm5qgiaj30dv05t0ul.jpg" referrerpolicy="no-referrer" alt="s2"></p>
<p>中文名为 <strong>复制为cURL</strong></p>
<p>S4: 将复制好的cURL粘贴到curl cmd框(无需任何改动)，在第二个框框中输入想要打卡的时间。</p>
<p>S5: 对 每日打卡(下午)进行同样的操作，注意： <strong>不要与上午同一时间</strong></p>
<p>S6: 到点打卡，并且打卡的记录会显示在下面。</p>

</body>
</html>